@model SotnWiki.MvcClient.Models.LeaderboardViewModel
@{
    ViewBag.Title = "CvSpeedruns Archive";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var alucardAnyGrid = new WebGrid(Model.AlucardAnyNSC, ajaxUpdateContainerId: "alucardAnyContainer", canPage: false, canSort: false);
}

@Scripts.Render("~/bundles/jquery")

@alucardAnyGrid.GetHtml(
       htmlAttributes: new { id = "alucardAnyContainer" },
       tableStyle: "cvsCategory",
       columns: alucardAnyGrid.Columns(
           alucardAnyGrid.Column("Runner", "Runner"),
           alucardAnyGrid.Column("Time", "Time"),
           alucardAnyGrid.Column("Url", "Url", format: @<a href="@item.Url">@item.Url</a>),
           alucardAnyGrid.Column("Platform")
           )
       )
