@{
    ViewBag.Title = "Leaderboards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="leaderboards-panel">
    <div class="leaderboards-nav">
        <a href="#cvsAlucardAnyNSC">CvsAlucardAnyNSC</a>
    </div>
    <table id="leaderboard" class="leaderboard">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Time</th>
                <th>Video</th>
                <th>Platform</th>
                <th>Date</th>
            </tr>
        </thead>
    </table>
</div>
@Scripts.Render("~/bundles/spa")