@{
    ViewBag.Title = "Leaderboards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="leaderboards-panel">
    <ul class="site-select">
        <li id="srcomSelect">Speedrun.com Backup</li>
        <li id="cvsSelect" class="active-select">CvSpeedruns Archive</li>
    </ul>
    <table id="cvs-menu" class="leaderboards-nav">
        <thead>
            <tr>
                <th>Alucard</th>
                <th>Richter</th>
                <th>Maria</th>
            </tr>
        </thead>
        <tr>
            <td>
                <p class="space-between">
                    <a href="#cvsalucardanynsc">Any% NSC</a>
                    <a href="#cvsalucardallbosses">All Bosses</a>
                    <a href="#cvsalucardglitchless">Glitchless</a>
                    <a href="#cvsalucardace">Any% ACE</a>
                    <a href="#cvsalucardlowpercentwolf">Low% Wolf</a>
                </p>
            </td>
            <td>
                <p class="space-between">
                    <a href="#cvsrichterAny">Any%</a>
                    <a href="#cvsrichterAllBosses">All Bosses</a>
                </p>
            </td>
            <td>
                <p class="space-between">
                    <a href="#cvsmariaAny">Any%</a>
                    <a href="#cvsmariaAllBosses">All Bosses</a>
                    <a href="#cvsmariaAnyEmu">Any% Emu</a>
                    <a href="#cvsmariaAllBossesEmu">All Bosses Emu</a>
                </p>
            </td>
        </tr>
    </table>
    <table id="srcom-menu" class="leaderboards-nav hidden-leaderboard-menu">
        <thead>
            <tr>
                <th>Alucard</th>
                <th>Richter</th>
                <th>Maria</th>
            </tr>
        </thead>
        <tr>
            <td>
                <p class="space-between">
                    <a href="#alucardanynsc">Any% NSC</a>
                    <a href="#alucardallbosses">All Bosses</a>
                    <a href="#alucardglitchless">Glitchless</a>
                    <a href="#alucardace">Any% ACE</a>
                    <a href="#alucardlowpercentwolf">Low% Wolf</a>
                </p>
            </td>
            <td>
                <p class="space-between">
                    <a href="#richterAny">Any%</a>
                    <a href="#richterAllBosses">All Bosses</a>
                </p>
            </td>
            <td>
                <p class="space-between">
                    <a href="#mariaAny">Any%</a>
                    <a href="#mariaAllBosses">All Bosses</a>
                    <a href="#mariaAnyEmu">Any% Emu</a>
                    <a href="#mariaAllBossesEmu">All Bosses Emu</a>
                </p>
            </td>
        </tr>
    </table>
    <table id="leaderboard" class="leaderboard">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Time</th>
                <th>Video</th>
                <th>Platform</th>
                <th>Date</th>
            </tr>
        </thead>
    </table>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/spa")