@{
    ViewBag.Title = "Leaderboards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Leaderboards</h2>
<a href="#CvsAlucardAny%NSC">AlucardAny%NSC</a>

<table id="leaderboard">
</table>
@Scripts.Render("~/bundles/spa")