@{
    ViewBag.Title = "Leaderboards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="leaderboards-panel">
    <ul id="cvs-menu" class="leaderboards-nav">
        <li>
            <p>Alucard</p>
            <div>
                <a href="#cvsalucardanynsc">cvsalucardanynsc</a>
                <a href="#cvsalucardallbosses">cvsalucardallbosses</a>
                <a href="#cvsalucardace">cvsalucardace</a>
                <a href="#cvsalucardlowpercentwolf">cvsalucardlowpercentwolf</a>
            </div>
        </li>
        <li>
            <p>Richter</p>
            <div>
                <a href="#cvsrichterAny">cvsrichterAny</a>
                <a href="#cvsrichterAllBosses">cvsrichterAllBosses</a>
            </div>
        </li>
        <li>
            <p>Maria</p>
            <div>
                <a href="#cvsmariaAny">cvsmariaAny</a>
                <a href="#cvsmariaAllBosses">cvsmariaAllBosses</a>
                <a href="#cvsmariaAnyEmu">cvsmariaAnyEmu</a>
                <a href="#cvsmariaAllBossesEmu">cvsmariaAllBossesEmu</a>
            </div>
        </li>
    </ul>
    <ul id="srcom-menu" class="leaderboards-nav">
        <li>
            <p>Alucard</p>
            <div>
                <a href="#alucardanynsc">Any% NSC</a>
                <a href="#alucardallbosses">allbosses</a>
                <a href="#alucardglitchless">glitchless</a>
                <a href="#alucardace">ace</a>
                <a href="#alucardlowpercentwolf">lowpercentwolf</a>
            </div>
        </li>
        <li>
            <p>Richter</p>
            <div>
                <a href="#richterAny">Any</a>
                <a href="#richterAllBosses">AllBosses</a>
            </div>
        </li>
        <li>
            <p>Maria</p>
            <div>
                <a href="#mariaAny">Any</a>
                <a href="#mariaAllBosses">AllBosses</a>
                <a href="#mariaAnyEmu">AnyEmu</a>
                <a href="#mariaAllBossesEmu">AllBossesEmu</a>
            </div>
        </li>
    </ul>
    <table id="leaderboard" class="leaderboard">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Time</th>
                <th>Video</th>
                <th>Platform</th>
                <th>Date</th>
            </tr>
        </thead>
    </table>
</div>
@Scripts.Render("~/bundles/spa")