@model SotnWiki.MvcClient.Models.SearchViewModel
@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(Model.Results, ajaxUpdateContainerId:"results", rowsPerPage: 20);
}

<h1>Search Results for "@Model.searchPhrase"</h1>
@Scripts.Render("~/bundles/jquery")
<div id="results">
    @grid.GetHtml(
    displayHeader: false,
    columns: new[] {
        grid.Column("Content", "Content", format: @<h4>@item.Title</h4>)
    })
</div>