@model EditsViewModel
@{
    ViewBag.Title = "Pending Submissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(Model.Results, ajaxUpdateContainerId: "results", rowsPerPage: 20);
}

<h1>Pending page submissions</h1>
@Scripts.Render("~/bundles/jquery")
<div id="results">
    @grid.GetHtml(
    displayHeader: false,
    columns: new[] {
        grid.Column("Content", "Content", format:(item) => new HtmlString(String.Format(@"<div><h3><a href=""{0}/publishedit/{1}"">{1}</a></h3></div>", ViewContext.RouteData.Values["title"], item.Id)))
    })
</div>