* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 20%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #ebebeb 20%);
    background: linear-gradient(to bottom, #ffffff 0%, #ebebeb 20%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb', GradientType=0);
}

a {
    text-decoration: none;
    color: #0645ad;
    background: none;
}

    a:hover {
        text-decoration: underline;
    }

ul {
    list-style-type: none;
}

.toc {
    margin-bottom: 0.7em;
    margin-top: 0.7em;
    border: 1px solid #a7d7f9;
    background-color: #f9f9f9;
    display: inline-block;
    padding: 0.9em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

    .toc h2 {
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        display: inline;
        font-weight: bold;
    }

    .toc ol {
        padding-left: 1em;
    }

.toctoggle {
    font-size: 0.7em;
}

.logo {
    background-image: url(./richter.png);
    display: block;
    width: 10em;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center center;
    text-decoration: none;
}

.mainwrap {
    display: -webkit-flex;
    display: flex;
}

.aside {
    width: 170px;
}

    .aside ul {
        padding-left: 1.7em;
        line-height: 1.6em;
    }

    .aside a {
        font-size: 0.75em;
    }

.retracted {
    background-image: url('./arrow-expand.png');
}

.expanded {
    background-image: url('./arrow-expanded.png');
}

.expand {
    text-decoration: none;
    color: #0645ad;
    font-size: 0.75em;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 0 0.2em;
    padding-left: 1.2em;
}

    .expand:hover {
        text-decoration: underline;
    }

.nobkg {
    background: none;
    padding-left: 0.5em;
}

.dropdown {
    display: none;
}

main {
    width: auto;
    flex-grow: 1;
}

#content {
    padding: 1.75em;
    background-color: white;
    border: 1px solid #a7d7f9;
    overflow: hidden;
}

    #content img {
        float: left;
        padding: 0.3em;
        border: 1px solid grey;
        margin-right: 1em;
        margin-bottom: 1em;
        align-self: center;
    }

    #content h1,
    #content h2,
    #content h3,
    #content h4 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-bottom: 1px solid #a7d7f9;
        font-weight: normal;
        page-break-after: avoid;
        margin-bottom: 1em;
    }

    #content p {
        padding-top: 0.5em;
    }

#archiveHeading {
    min-height: 24px;
    background-image: url('./cvsLogo.png');
    background-repeat: no-repeat;
    background-color: transparent;
    padding-left: 200px;
}

.cvsCategory {
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin-left: 1em;
    margin-bottom: 1em;
    font-size: 1em;
    line-height: 2em;
    color: white;
    font-weight: bold;
    background-color: #050505;
    border-collapse: collapse;
}

    .cvsCategory th {
        background-color: #494949;
        border: none;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }

        .cvsCategory th a {
            color: white;
        }

    .cvsCategory td {
        border: none;
        text-align: center;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }

    .cvsCategory tr:nth-child(2n+1) {
        background-color: #222222;
        padding-top: 1.3em;
    }

    .cvsCategory tr:nth-child(2) {
        color: #ffd700;
    }

    .cvsCategory tr:nth-child(3) {
        color: #DCDCDC;
    }

    .cvsCategory tr:nth-child(4) {
        color: #D58638;
    }

    .cvsCategory td:nth-child(2n+1) {
        font-weight: bold;
    }

#editArea {
    resize: none;
}

.infobox {
    float: right;
    overflow: hidden;
    border: 1px solid #a7d7f9;
    padding: 0;
    margin-left: 1em;
    margin-bottom: 1em;
    font-size: 0.75em;
    line-height: 2em;
    background-color: #ebebeb;
    border-collapse: collapse;
}

    .infobox td {
        padding-left: 0.4em;
        padding-right: 0.4em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }

    .infobox tr:first-of-type td {
        border-bottom: 1px solid #a7d7f9;
    }

    .infobox tr:nth-of-type(2) td {
        padding-top: 1.3em;
    }

    .infobox td:nth-child(2n+1) {
        font-weight: bold;
    }

.auth {
    display: -webkit-flex;
    display: flex;
    padding: 0.6em;
    justify-content: flex-end;
}

    .auth ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .auth li {
        margin-right: 0.75em;
        font-size: 0.75em;
        float: left;
    }

.editor-panel {
}

    .editor-panel ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        .editor-panel ul li:first-of-type {
            border-left: 1px solid #a7d7f9;
        }

        .editor-panel ul li {
            float: left;
            background-color: white;
            border-right: 1px solid #a7d7f9;
            border-bottom: 1px solid #a7d7f9;
            font-size: 0.85em;
            color: black;
        }

            .editor-panel ul li:hover {
                background-color: #7d7d7d;
                color: white;
            }

            .editor-panel ul li a {
                padding-left: 0.5em;
                padding-right: 0.5em;
                display: block;
                text-decoration: none;
                color: inherit;
            }

#twitter {
    width: 141px;
    height: 16px;
    background-image: url('./sign-in-with-twitter-link.png');
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#editPageText {
    width: 100%;
    height: 500px;
    resize: none;
    line-height: 1.5em;
    resize: vertical;
}

footer {
    padding-left: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
    color: #333;
    font-size: 0.7em;
}


.search-panel {
    border: 1px solid #a7d7f9;
    background-color: white;
    width: 85%;
    margin-left: 5%;
}

    .search-panel input[type=text] {
        padding-left: 0.5em;
        width: 80%;
        height: 20px;
        border: none;
    }

    .search-panel input[type=submit] {
        width: 12px;
        height: 20px;
        background-image: url('./search.png');
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        cursor: pointer;
    }