/**
* SotnWiki
* @author TalicZealot
* 
*/

/* ============================ RESET ============================ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.8em;
}

h6 {
    font-size: 0.7em;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    min-height: 100%;
}

/* ============================ LAYOUT ============================ */

main {
    width: auto;
    flex-grow: 1;
}

.mainwrap {
    display: -webkit-flex;
    display: flex;
}

.aside {
    width: 170px;
}

    .aside ul {
        padding-left: 1.7em;
        line-height: 1.6em;
    }

    .aside a {
        font-size: 0.75em;
    }

body {
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 20%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #ebebeb 20%);
    background: linear-gradient(to bottom, #ffffff 0%, #ebebeb 20%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb', GradientType=0);
}

a {
    text-decoration: none;
    color: #0645ad;
    background: none;
}

    a:hover {
        text-decoration: underline;
    }

ul {
    list-style-type: none;
}

.auth {
    display: -webkit-flex;
    display: flex;
    padding: 0.6em;
    justify-content: flex-end;
}

    .auth ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .auth li {
        margin-right: 0.75em;
        font-size: 0.75em;
        float: left;
    }

.editor-panel {
}

    .editor-panel ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        .editor-panel ul li:first-of-type {
            border-left: 1px solid #a7d7f9;
        }

        .editor-panel ul li {
            float: left;
            background-color: white;
            border-right: 1px solid #a7d7f9;
            border-bottom: 1px solid #a7d7f9;
            font-size: 0.85em;
            color: black;
        }

            .editor-panel ul li:hover {
                background-color: #7d7d7d;
                color: white;
            }

            .editor-panel ul li a {
                padding-left: 0.5em;
                padding-right: 0.5em;
                display: block;
                text-decoration: none;
                color: inherit;
            }

.twitter {
    width: 141px;
    height: 16px;
    background-image: url('./sign-in-with-twitter-link.png');
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logo {
    background-image: url(./richter.png);
    display: block;
    width: 10em;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center center;
    text-decoration: none;
}

.search-panel {
    border: 1px solid #a7d7f9;
    background-color: white;
    width: 85%;
    margin-left: 5%;
}

    .search-panel input[type=text] {
        padding-left: 0.5em;
        width: 80%;
        height: 20px;
        border: none;
    }

    .search-panel input[type=submit] {
        width: 12px;
        height: 20px;
        background-image: url('./search.png');
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        cursor: pointer;
    }

footer {
    padding-left: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
    color: #333;
    font-size: 0.7em;
}

/* ============================ Pages ============================ */

#content {
    padding: 1.75em;
    background-color: white;
    border: 1px solid #a7d7f9;
    overflow: hidden;
}

    #content img {
        float: left;
        padding: 0.3em;
        border: 1px solid grey;
        margin-right: 1em;
        margin-bottom: 1em;
        align-self: center;
    }

    #content h1,
    #content h2,
    #content h3,
    #content h4 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-bottom: 1px solid #a7d7f9;
        font-weight: normal;
        page-break-after: avoid;
        margin-bottom: 1em;
    }

    #content p {
        padding-top: 0.5em;
    }

.infobox {
    float: right;
    overflow: hidden;
    border: 1px solid #a7d7f9;
    padding: 0;
    margin-left: 1em;
    margin-bottom: 1em;
    font-size: 0.75em;
    line-height: 2em;
    background-color: #ebebeb;
    border-collapse: collapse;
}

    .infobox td {
        padding-left: 0.4em;
        padding-right: 0.4em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }

    .infobox tr:first-of-type td {
        border-bottom: 1px solid #a7d7f9;
    }

    .infobox tr:nth-of-type(2) td {
        padding-top: 1.3em;
    }

    .infobox td:nth-child(2n+1) {
        font-weight: bold;
    }

.toc {
    margin-bottom: 0.7em;
    margin-top: 0.7em;
    border: 1px solid #a7d7f9;
    background-color: #f9f9f9;
    display: inline-block;
    padding: 0.9em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

    .toc h2 {
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        display: inline;
        font-weight: bold;
    }

    .toc ol {
        padding-left: 1em;
    }

.toctoggle {
    font-size: 0.7em;
}

.editArea {
    resize: none;
}

.editPageText {
    width: 100%;
    height: 500px;
    resize: none;
    line-height: 1.5em;
    resize: vertical;
}

/* ========================= Sliding Menu ======================== */

.retracted {
    background-image: url('./arrow-expand.png');
}

.expanded {
    background-image: url('./arrow-expanded.png');
}

.expand {
    text-decoration: none;
    color: #0645ad;
    font-size: 0.75em;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 0 0.2em;
    padding-left: 1.2em;
}

    .expand:hover {
        text-decoration: underline;
    }

.nobkg {
    background: none;
    padding-left: 0.5em;
}

.dropdown {
    display: none;
}

/* ========================= Leaderboards ======================== */

.leaderboard {
    overflow: hidden;
    width: 85%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    font-size: 0.9em;
    line-height: 1.8em;
    color: #D2D2D2;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    background-color: #232223;
    border-collapse: collapse;
}

    .leaderboard a {
        color: #8880D4;
    }

    .leaderboard th {
        font-weight: bold;
        background-color: #2a282b;
        border: none;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }

    .leaderboard td {
        border: none;
        text-align: center;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }

    .leaderboard tr:nth-child(2n+1) {
        background-color: #2a282b;
        padding-top: 1.3em;
    }

    .leaderboard td:nth-child(2n+2) {
        font-weight: bold;
    }
